
    {%- if settings.product_image_size == 'natural' or use_horizontal -%}
      {%- assign use_natural_size = true -%}
    {%- else -%}
      {%- assign use_natural_size = false -%}
    {%- endif -%}


        {%- assign max_width = 125 -%}


<div class="ProductItem {% if use_horizontal %}ProductItem--horizontal{% endif %}" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
  <div class="ProductItem__Wrapper">
        <a href="https://www.withcococktails.com/pages/bulk-gifting-services" class="ProductItem__ImageWrapper ">

      <div class="AspectRatio AspectRatio--short" style="max-width: 1800px;  --aspect-ratio: 1.5">
        <img class="ProductItem__Image Image--fadeIn lazyautosizes Image--lazyLoaded" data-widths="[200,400,600,700,800,900,1000,1200]" data-sizes="auto" alt="Seasonal Garnish Kit" data-image-id="15818961125453" 
             data-srcset="//cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_200x.jpg?v=1602773175 200w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_400x.jpg?v=1602773175 400w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_600x.jpg?v=1602773175 600w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_700x.jpg?v=1602773175 700w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_800x.jpg?v=1602773175 800w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_900x.jpg?v=1602773175 900w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_1000x.jpg?v=1602773175 1000w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_1200x.jpg?v=1602773175 1200w"
             sizes="559px" 
             srcset="//cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_200x.jpg?v=1602773175 200w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_400x.jpg?v=1602773175 400w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_600x.jpg?v=1602773175 600w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_700x.jpg?v=1602773175 700w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_800x.jpg?v=1602773175 800w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_900x.jpg?v=1602773175 900w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_1000x.jpg?v=1602773175 1000w, //cdn.shopify.com/s/files/1/1802/5145/files/DEIDRESCHLABS-6950_1200x.jpg?v=1602773175 1200w" >
        <span class="Image__Loader"></span>

        <noscript>
          <img class="ProductItem__Image ProductItem__Image--alternate" src="//cdn.shopify.com/s/files/1/1802/5145/files/WithCoStock-4-2_600x.jpg?v=1602773375">
          <img class="ProductItem__Image" src="//cdn.shopify.com/s/files/1/1802/5145/files/WithCoStock-4-2_db8d58ed-25f9-467e-9058-a7ee524b4c48_600x.jpg?v=1602773175">
        </noscript>
      </div>

    </a>
   
<div class="ProductItem__Info ProductItem__Info--center">
        <h2 class="ProductItem__Title Heading">
          <a href="https://www.withcococktails.com/pages/bulk-gifting-services">Bulk Gifting Services</a>
        </h2>  
  <div class="ProductItem__PriceList  Heading"><p>Teams - Clients - Colleagues</p>
    
</div>
  <p style="margin-top:1em;">In a few quick clicks, treat everyone on your list to a gift they’ll love. WithCo bulk pricing tiers make large scale gifting a no brainer. Whether you’ve got 50 or 500 people on your list, check them all off in a single step.</p>
    </div>


            <div class="Container" style="margin-top:35px;">
            <a href="https://www.withcococktails.com/pages/bulk-gifting-services" class="Button Button--primary">Learn More</a>
        </div>
      </div>
  </div>